engine-strict=false
node-linker=hoisted
shamefully-hoist=true
registry=https://registry.npmjs.org/
fetch-retries=3
fetch-retry-mintimeout=1000
fetch-retry-maxtimeout=60000
use-node-fetch=true

# Silenciar notificaciones de actualización de Prisma
update-notifier=false
